@font-face {
	font-family:'Merriweather';
	font-style:bold;
	font-weight:800;
	src:local('☺︎'), url("../fonts/Merriweather-Bold.woff2") format("woff2");
}
@font-face {
	font-family:'Merriweather';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("../fonts/Merriweather-Regular.woff2") format("woff2");
}
@font-face {
	font-family:'Merriweather';
	font-style:lighter;
	font-weight:400;
	src:local('☺︎'), url("../fonts/Merriweather-Light.woff2") format("woff2");
}

/* ---- LAYOUT ---- */
body{
	padding-top:100px;
	font-family:'Merriweather';
	font-size:12px;
	font-weight:400;
	line-height:1.5rem;
	-webkit-font-smoothing:antialiased;
	word-spacing:-1px;
	-webkit-text-size-adjust:none
}
#title{
	text-align: center;
    padding: 60px 0 60px;
}

#title .title-img img{
	width: 120px;
}

#grid{
	width:92%;
	margin-right:auto;
	margin-left:auto;
}
#grid .grid{
	display:flex;
	display:-webkit-flex;
	display:-ms-flexbox;
	flex-wrap:wrap;
	justify-content:center;
}
#grid .grid .grid-item{
	padding-right:20px;
	padding-left:20px;
	padding-bottom:50px;
	align-self:flex-end;
}
#grid .grid-item .figure{
	width:270px;
}
#grid .grid-item .figure img{
	display:inline-block;
	width:100%;
	vertical-align:top
}
#grid .grid-item .figure + .caption{
	font-family: 'Merriweather';
	margin-top:15px;
}

#grid .grid-item .caption{
	color:black;
	/* root font-size 의 사이즈에 따른 비율 계산 : 12px - 12 / 12 = 1rem */
	font-size:1rem;
	/* root font-size 의 사이즈에 따른 행간 비율 계산 : 20px - 12 / 20 = 1.666667rem  */
	line-height:1.667rem;
}

#grid .grid-item .caption p{
	position: absolute;
    top: 5px;
    right: 0;
}