body{
    background:gray;
}

.animation{
    width:181px;
    height:175px;
    margin:15px;
    background-repeat: no-repeat;
    background-position:0 0;
}

.megaman{
    background-image: url('../images/megamen2.png');
    background-size:1086px 700px;
}

.button{
    padding:15px;
}

.button li{
    display:inline-block;
}

.button li + li{
    margin-left:5px;
}

.button li a{
    text-decoration: none;
    padding:3px 10px;
    font-size:24px;
    font-weight:600;
    border:1px solid #fff;
    color:#fff;
    transition: ease-in-out 0.2s;
}

.button li a:hover{
    background:#fff;
    color:blue;
    transition: ease-in-out 0.2s;
}