body{
    padding-top:50px;
    padding-left:150px;
    padding-right:150px;
}

.title{
    text-align:center;
}

.title h1{
    color:#002c5f;
}

.title p{
    font-size:18px;
    font-weight:bold;
    padding-bottom:30px;
}

#grid{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

#grid .grid{
    display:flex;
    display:-webkit-flex;
	display:-ms-flexbox;
	flex-wrap:wrap;
	justify-content:center;
}

#grid .grid .car{
    padding-right:20px;
    padding-top:25px;
	padding-bottom:35px;
	padding-left:20px;
	align-self:flex-end;
}

#grid .grid .car:hover{
    background-color:rgba(0,0,0,0.1)
;}

#grid .grid .car .car_i{
    width:350px;
}

#grid .grid .car .car_i img{
	display:inline-block;
	width:100%;
    vertical-align:top;
}

#grid .grid .car .name{
    font-size:1.125em;
    padding-top:8px;
    font-weight:700;
    text-align:center;
}

#grid .grid .car .year{
    font-size:1.000em;
    font-weight:bold;
    text-align:center;
    padding-top:15px;
    padding-bottom:35px;
    border-bottom:2px solid #002c5f;
}